.q-item {
  color: white !important;
  transition: all 0.3s ease;
}

.borda-ativa {
  background: rgba(255, 255, 255, 0.1) !important;
  color: white !important; 
  font-weight: bold !important; 
  border-left: 4px solid white; 
  border-radius: 0 !important;
}

.q-item .q-icon {
  color: white !important;
}

.q-item.text-negative {
  color: $negative !important; 
  
  .q-icon {
    color: $negative !important;
  }
}
.q-item.text-negative:hover {
  background: rgba($negative, 0.1) !important; 
}

.q-item .q-btn .q-icon {
  color: inherit !important;
}